:root{
    --text-color:#667085;
    --main-color:#8E2424;
}
body{
    font-family: 'Inter', sans-serif;
}
.nav{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9rem;
}
.nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 0.6rem;
}
.nav .logo a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
}
.nav .links ul{
    list-style: none;
}
.nav .links li{
    display: inline-block;
}
.nav .links li a{
    text-decoration: none;
    margin-right: 1rem;
    color: var(--text-color);
}
.buttons button{
    color: var(--text-color);
    border-radius: 0.5rem;
    border: none;
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    background: none;
}
.buttons button:nth-child(2){
    background-color: var(--main-color);
    color: #FFF;
}
.about{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 6rem 0;
}
.about span{
    color: var(--main-color);
}
.about h1{
    font-size: 3rem;
}
.about p{
    color: var(--text-color);
    text-align: center;
    font-size: 1.25rem;
}